<h2><%= t('.resend_confirmation_instructions') %></h2>

<div class='row'>
  <div class='col-sm-offset-4 col-sm-4 well'>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
          <div class="actions">
            <%= f.submit t('.resend_confirmation_instructions'), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "users/shared/links" %>
