<% breadcrumb :root %>
<% provide(:title, "Home") %>
<div class='jumbotron text-center'>
<h1><%= t("my_app.title") %></h1>
<h3><%= t("my_app.description") %></h3>
  <p>
    <% if user_signed_in? %>
      <%= link_to t("common_layout.header.my_page"), edit_user_registration_path, class: 'btn btn-primary btn-lg active' %>
      <%= link_to t("users.sessions.new.sign_out"), destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-lg active' %>
    <% else %>
      <%= link_to t("common_layout.header.sign_up"), new_user_registration_path, class: 'btn btn-primary btn-lg active' %>
      <%= link_to t("users.sessions.new.sign_in"), new_user_session_path, class: 'btn btn-primary btn-lg active' %>
    <% end%>
  </p>
</div>
