<% breadcrumb :users, @users %>
<% provide(:title, t('user.title.index')) %>
<h2><%= t('user.title.index') %></h2>
<div class='pagination-items'>
  <%= paginate @users%>
</div>
  <div class="row">
    <ul class='media-list'>
      <% @users.each do |user| %>
        <li class='media'>
          <div class="col-xs-10">
            <%= link_to(gravatar_for(user), user_path(user), class: 'media-left')%>
            <div class='media-body'>
              <%= link_to user.name, user_path(user), class: 'media-heading' %>
            </div>
          </div>
          <div class="col-xs-2">
            <% if current_user.admin? && current_user != user %>
              <%= link_to t("user.crud.delete"), user, method: :delete, data: { confirm: t("user.crud.confirm_delete") } %>
              <span class='glyphicon glyphicon-trash'></span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<div class='pagination-items'>
  <%= paginate @users%>
</div>