<% breadcrumb :users, @users %>
<% provide(:title, t('user.title.index')) %>
<h2><%= t('user.title.index') %></h2>
<div class='pagination-items'>
  <%= paginate @users%>
</div>
<% @users.each do |user| %>
  <div class="row">
    <ol>
    <div class="col-xs-10">
      <ol>
        <%= link_to(gravatar_for(user), user_path(user)) %>
        <%= link_to user.name, user_path(user) %>
      </ol>
    </div>
    <div class="col-xs-2">
      <% if current_user.admin? && current_user != user %>
        <div>
          <%= link_to t("user.crud.delete"), user, method: :delete, data: { confirm: t("user.crud.confirm_delete") } %>
        </div>
      <% end %>
      </div>
    </ol>
  </div>
<% end %>
<div class='pagination-items'>
  <%= paginate @users%>
</div>