<% breadcrumb :user, @user %>
<% provide(@user.name) %>
<div class="row">
  <aside class="col-sm-3">
    <section class="user-info">
        <div class='thumbnail center-block well'>
          <%= gravatar_for @user %>
          <div class='caption'><%= @user.name %></div>
        </div>
    </section>
  </aside>
  <div class='col-sm-6'>
    <section>
      <h2><%= t("project.title.index") %></h2>
      <% @user.projects.includes(:users).each do |project| %>
        <ul class='list-group'>
        <% if project.users.include?(current_user) %>
          <li class='list-group-item'><%= link_to project.name, project_path(project) %></li>
        <% else %>
          <li class='list-group-item'><%= project.name %></li>
        <% end %>
      <% end %>
    </section>
  </div>
  <div class="col-sm-3">
  </div>
</div>
