<% breadcrumb :user_tickets, current_user %>
<% provide(:title, I18n.t("ticket.header.top")) %>
<h2><%= I18n.t("ticket.header.top") %></h2>
<% provide(:button_text, t("ransack.search")) %>
<% provide(:link_to, tickets_path(current_user)) %>
<% provide(:search_button_offset, "10") %>
<%= render 'tickets/search_form'%>
<% @tickets.each do |ticket| %>
    <section class="ticket-items">
      <ul>
        <%= link_to ticket.title, project_ticket_path(ticket.project_id, ticket) %>
        <p><%= ticket.description %></p>
      </ul>
    </section>
<% end %>
<div class='pagination-items'>
  <%= paginate @tickets%>
</div>
