<% breadcrumb :projects, @projects %>
<% provide(:title, t('project.title.index')) %>
<h2><%= t('project.title.index') %></h2>
<% @projects.each do |project| %>
  <div class="row">
    <ol>
    <div class="col-xs-10">
      <%= link_to project.name, project %>
      <p class="project-description"><%= simple_format(project.description) %></p>
    </div>
    <div class="col-xs-2">
      <p class="project-due-on"><%= "#{t("activerecord.attributes.project.due_on")}:#{project.due_on}" %></p>
      <% if project.owners.include?(current_user) %>
        <div id="owner-selection-<%= project.id%>">
          <%= link_to t("project.crud.edit"), edit_project_path(project) %>
          <%= link_to t("project.crud.delete"), project, method: :delete, data: { confirm: t("project.crud.confirm_delete") } %>
        </div>
      <% end %>
      </div>
    </ol>
  </div>
<% end %>
<div class='pagination-items'>
  <%= paginate @projects %>
</div>