<% provide(:title, t('project.title.index')) %>
<h2><%= t('project.title.index') %></h2>
<div class="row">
  <% @projects.each do |project| %>
    <ol>
    <div class="col-md-10">
      <%= link_to project.name, project %>
      <p class="project-description"><%= simple_format(project.description) %></p>
    </div>
    <div class="col-md-2">
      <p class="project-due-on"><%= "#{t("activerecord.attributes.project.due_on")}:#{project.due_on}" %></p>
      <% if project.owner_id == current_user.id %>
        <div id="owner-selection-<%= project.id%>">
          <%= link_to t("project.crud.edit"), edit_project_path(project) %>
          <%= link_to t("project.crud.delete"), project, method: :delete, data: { confirm: t("project.crud.confirm_delete") } %>
        </div>
      <% end %>
      </div>
    </ol>
  <% end %>
</div>