<% provide(@project.name) %>
<div class="row">
  <aside class="col-md-2">
    <section class="project-info">
      <h1>
        <%= @project.name %>
      </h1>
    </section>
    <section>
      <p><%= t("activerecord.attributes.project.description") %></p>
      <%= @project.description %>
    </section>
    <section>
      <p><%= t("activerecord.attributes.project.due_on") %></p>
      <%= @project.due_on %>
    </section>
  </aside>
  <div class="col-md-8">
    <section class="ticket-items">
      <ul>
        <h4><%= t("project.title.show.tickets") %></h4>
        <% @project.tickets.each do |ticket| %>
          <ul>
            <%= link_to ticket.title, project_ticket_path(@project, ticket) %>
            <p><%= ticket.description %></p>
          </ul>
        <% end %>
        <%= link_to t("project.tickets.create"), new_project_ticket_path(@project) %>
      </ul>
    </section>
  </div>
  <div class="col-md-2">
    <% @project.project_members.where(accepted_project_invitation: true).each do |project_member| %>
      <ul><%= project_member.user.name %></ul>
    <% end %>
    <% if current_user.id == @project.owner_id %>
      <%= link_to t("project.project_member.create"), new_user_invitation_path(project_id: @project) %>
    <% end %>
  </div>
</div>