<% breadcrumb :project, @project %>
<% provide(@project.name) %>
<div class="row">
  <aside class="col-lg-4">
    <section class="project-info">
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h1><%= @project.name %></h1>
          <div class='text-right'>
            <%= I18n.t("ticket.item.due_on") + " : "+ @project.due_on.to_s %>
          </div>
        </div>
        <p><%= t("activerecord.attributes.project.description") %></p>
        <%= simple_format(h(@project.description)) %>
      </div>
      <% if @project.project_members.where(user_id: current_user.id).first.owner || current_user.admin? %>
        <div class='text-right'>
          <strong><%= link_to t("project.crud.edit"), edit_project_path(@project) %></strong>
          <span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>
          <strong><%= link_to t("project.crud.delete"), @project, method: :delete, data: { confirm: t("project.crud.confirm_delete") } %></strong>
          <span class='glyphicon glyphicon-trash' aria-hidden='true'></span></th>
        </div>
      <% end %>
    </section>
  </aside>

  <div class="col-lg-6">
    <section class="ticket-items">
      <h2><%= t("project.title.show.tickets") %></h2>
      <div class='text-center'>
        <button class='btn btn-info active' type='button'>
          <%= I18n.t("project.tickets.count") %>
          <span class='badge'>
            <%= @project.tickets.count %>
          </span>
        </button>
        <%= link_to t("project.tickets.create"), new_project_ticket_path(@project) %>
        <span class='glyphicon glyphicon-plus'></span>
      </div>
      <br />
      <% provide(:button_text, t("ransack.search")) %>
      <% provide(:link_to, project_path(@project)) %>
      <% provide(:search_button_offset, "8") %>
      <%= render 'tickets/search_form'%>
      <br />

      <% @tickets.each do |ticket| %>
        <ul class='list-group'>
          <li class='list-group-item'>
            <%= link_to ticket.title, project_ticket_path(@project, ticket) %>
            <p><%= simple_format(h(ticket.description.truncate(30))) %></p>
          </li>
        </ul>
      <% end %>
      <div class='pagination-items'>
        <%= paginate @tickets %>
      </div>
    </section>
  </div>

  <div class="col-lg-2">
    <h2><%= I18n.t("project.project_member.index") %></h2>
    <div class='text-center'>
      <% @project.project_members.where(accepted_project_invitation: true).includes(:user).each do |project_member| %>
        <ul>
          <%= link_to project_member.user.name, user_path(project_member.user) %>
          <% if @project_owners.any? { |owner| owner.user_id == current_user.id } %>
            <strong><%= link_to t("project.crud.delete"), project_member_path(@project, project_member),
                        method: :delete, data: { confirm: t("project.crud.confirm_delete") } %></strong>
            <span class='glyphicon glyphicon-trash' aria-hidden='true'></span></th>
          <% end %>
        </ul>
      <% end %>
      <%= link_to I18n.t("project.header.new_member"), new_project_member_path(@project) %>
    </div>
  </div>
</div>