<% provide(@project.name) %>
<div class="row">
  <aside class="col-md-2">
    <section class="project-info">
      <h1>
        <%= @project.name %>
      </h1>
    </section>
    <section>
      <p>説明</p>
      <%= @project.description %>
    </section>
    <section>
      <p>期日</p>
      <%= @project.due_on %>
    </section>
  </aside>
  <div class="col-md-8">
    <section class="ticket-items">
      <ul>
        <h4>チケットのタイトル</h4>
        <p>チケットの説明</p>
      </ul>
    </section>
  </div>
  <div class="col-md-2">
    <% @project.project_users.where(accepted_project_invitation: true).each do |project_member| %>
      <ul><%= project_member.user.name %></ul>
    <% end %>
    <% if current_user.id == @project.owner_id %>
      <%= link_to "メンバーを追加", new_user_invitation_path(project_id: @project) %>
    <% end %>
  </div>
</div>