<div class='row'>
  <div class='col-sm-offset-3 col-sm-6 well'>
    <%= form_for(@project_member, url: yield(:link_to)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :user, class: 'control-label' %>
      <%= f.collection_select :user_id, @users, :id, :name, {prompt: ""}, class: 'form-control' %>

      <div class='row'>
        <div class='col-sm-offset-4 col-sm-4'>
          <%= f.submit yield(:button_text), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
