<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Team Works", root_path, id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("common_layout.header.home"), root_path %></li>
        <li><%= link_to t("common_layout.header.help"), help_path %></li>
        <li><%= link_to t("common_layout.header.about"), about_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to t("common_layout.header.my_page"), edit_user_registration_path %></li>
          <li><%= link_to t("common_layout.header.projects"), projects_path %></li>
          <li><%= link_to t("users.sessions.new.sign_out"), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t("common_layout.header.sign_up"), new_user_registration_path %></li>
          <li><%= link_to t("users.sessions.new.sign_in"), new_user_session_path %></li>
        <% end%>
      </ul>
    </nav>
  </div>
</header>